@model IEnumerable<WebAuslink.Models.IssueBoard>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">



    <h1>Showing unsolved issues only</h1>

    <p style="margin-right:40px;">
        <a class="btn btn-outline-primary" asp-action="Create">Report Issue Here</a>
    </p >
    <p>
        <a class="btn btn-outline-primary" asp-action="Index_full">Check Full list of Issues</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhoRaisedThisIssue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.issueDescription)
                </th>
           
            
                <th>
                    @Html.DisplayNameFor(model => model.IssueDateRaised)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                   <td>
                       
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> 
                   
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WhoRaisedThisIssue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.issueDescription)
                    </td>
              
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDateRaised)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>