@model IEnumerable<WebAuslink.Models.IssueBoard>

@{
    ViewData["Title"] = "Index";
}

<h1>Report an issue</h1>

<p>
    <a asp-action="Create">Create New Issue</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IssueTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoRaisedThisIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issueDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IfIssueIsSolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoSolvedIssue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoRaisedThisIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issueDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IfIssueIsSolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoSolvedIssue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
