@model WebAuslink.Models.Client

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">
    <h1>Rate Card</h1>

    <div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        <hr />
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                <div>
                    @Html.DisplayNameFor(model => model.ClientCompanyName)
                </div>
                <h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.ClientCompanyName)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">

                <div>
                    @Html.DisplayNameFor(model => model.CartageRate20)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageRate20)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.CartageRateSingle20)
                </div>
                <h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageRateSingle20)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.CartageRate40)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageRate40)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.CartageRateSingle40)
                </div>
                <h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageRateSingle40)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.CartageFAF)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageFAF)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.VGM)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.VGM)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.ATF)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.ATF)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.MPI)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.MPI)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.CartageVBS)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.CartageVBS)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.UnpackM)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.UnpackM)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.UnpackP)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.UnpackP)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge1)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.OtherCharge1)
                    </span>
                </h4>
            </li>

            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge2)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.OtherCharge2)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge3)
                </div> <h4>
                    <span class="badge badge-success">

                        @Html.DisplayFor(model => model.OtherCharge3)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge4)
                </div><h4>
                    <span class="badge badge-success">

                        @Html.DisplayFor(model => model.OtherCharge4)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">

                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge5)
                </div><h4>
                    <span class="badge badge-success">

                        @Html.DisplayFor(model => model.OtherCharge5)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge6)
                </div><h4>
                    <span class="badge badge-success">
                        @Html.DisplayFor(model => model.OtherCharge6)
                    </span>
                </h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge7)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.OtherCharge7)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.OtherCharge8)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.OtherCharge8)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.ChargePerCBM)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.ChargePerCBM)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.ChargePerPLT)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.ChargePerPLT)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.ChargePerFullTruckLoad)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.ChargePerFullTruckLoad)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.SpecialCharges1)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.SpecialCharges1)
    </span>
</h4>
            </li>
            <li class="list-group-item">
                <div>
                    @Html.DisplayNameFor(model => model.SpecialCharges2)
                </div><h4>
    <span class="badge badge-success">
        @Html.DisplayFor(model => model.SpecialCharges2)
    </span>
</h4>
            </li>

        </ul>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>