@model IEnumerable<WebAuslink.Models.Client>

@{
    ViewData["Title"] = "Index";
}

@section NavTop{

    <nav class="container">
        <form class="form-inline" method="get" asp-action="IndexReadOnly">
            <input class="form-control mr-sm-2" type="search" placeholder="Search client" aria-label="Search" name="SearchStringClient">
            <button class="btn btn-outline-success my-2 my-sm-2" type="submit" style="margin-right:10px;">Search</button>
            <button class="btn btn-outline-success my-3 my-sm-2" type="submit">Reset</button>
        </form>
    </nav>

}


<div class="container-fluid">
    <h1>Rate Card List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientCompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)

                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <td>
                        <a asp-action="DetailsReadOnly" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientCompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>