@*@model IEnumerable<WebAuslink.Models.SeaContainer>*@
@model IEnumerable<WebAuslink.Models.DailyToDoList>
@{
    ViewData["Title"] = "Home Page";

}





<body >
    <div class="container-fluid" >
        <section class="jumbotron text-center">

            <h1 class="heading">Welcome</h1>
            <p class="lead text-muted">Auslink Operating Support </p>
            <hr />


            <div class="row">
                <div class="col" style="display: @ViewData["IfNone"]">
                    <div class="alert alert-dark" role="alert">
                        <h4>
                            <span class="badge badge-pill badge-danger">

                                Account on hold
                            </span>
                        </h4>
                        @foreach (var client in ViewBag.OnHoldList)
                        {
                            <ul style="font-size:medium">

                                @client.ClientCompanyName
                                <hr>

                            </ul>
                        }
                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <div>
                            <table class="table">
                                <thead>
                                    <label>Container Job this week </label>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            VBS Ready
                                        </th>
                                        <th>
                                            Completed
                                        </th>
                                    </tr>

                                </thead>
                                <tr>
                                    <td>   To Yard </td>
                                    <td>  <span style="font-size:32px;" class="badge badge-primary">@ViewBag.ToYardCurrentWeekVBS   </span>  </td>
                                    <td>  <span style="font-size:32px;" class="badge badge-success">@ViewBag.ToYardCurrentWeekVBSCompleted </span>  </td>
                                </tr>

                                <tr>
                                    <td>Cartage only</td>
                                    <td> <span style="font-size:32px;" class="badge badge-primary">@ViewBag.CartageOnlyCurrentWeekVBS  </span></td>
                                    <td>  <span style="font-size:32px;" class="badge badge-success"> @ViewBag.CartageOnlyCurrentWeekOFETACompleted </span>  </td>

                                </tr>


                            </table>
                          
                           
                        </div>

                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <table class="table">
                            <thead>
                                <label>Container Current Month</label>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Inbound
                                    </th>
                                    <th>
                                        Cartage
                                    </th>
                                </tr>

                            </thead>
                            <tr>
                                <td>   O/F ETA </td>
                                <td>  <span style="font-size:32px;" class="badge badge-primary">@ViewBag.ToYardCurrentWeekOFETA   </span>  </td>
                                <td>  <span style="font-size:32px;" class="badge badge-success">@ViewBag.CartageOnlyCurrentWeekOFETA </span>  </td>
                            </tr>
                            <tr>
                                <td>   Completed </td>
                                <td>  <span style="font-size:32px;" class="badge badge-primary">@ViewBag.ToyardCurrentMonthOFETACompleted   </span>  </td>
                                <td>  <span style="font-size:32px;" class="badge badge-success">@ViewBag.CartageOnlyCurrentMonthOFETACompleted </span>  </td>
                            </tr>


                        </table>

                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <table class=" table">

                            <thead>
                                Unsolved issues
                            </thead>
                            <tr>
                                <td> <span style="font-size:40px;" class="badge badge-danger">@ViewBag.countIssues</span>   </td>
                            </tr>
                        </table>
                  
                    </div>
                </div>
               









            </div>


            <div class="alert alert-dark" role="alert">
                <div style="text-align:left">
                    <button class="btn btn-outline-primary " type="submit">
                        <a asp-controller="DailyToDoLists" asp-action="Index">

                            Go to all plans
                        </a>
                    </button>
                </div>
                @foreach (var item in ViewBag.TodayList)

                {

                    <div class="row">
                        <div class=" col">
                            <div class="alert alert-secondary" role="alert">
                                @if (item.today.Date == DateTime.Now.Date)
                                {
                                    <h4 class="alert-heading" style="text-align:center"> <span class="badge badge-pill badge-success"> Today</span> </h4>
                                }
                                else
                                {
                                    <h4 class="alert-heading" style="text-align:center"> Coming Jobs @@ @item.today</h4>
                                }

                                <ul>

                                    <hr>
                                    <p style="font-size:medium">
                                        @item.MorningJob
                                    </p>
                                    <hr>
                                    <p style="font-size:medium">
                                        @item.AfternoonJob
                                    </p>
                                    <hr>
                                    <p style="font-size:medium">
                                        @item.ExtraWork
                                    </p>


                                </ul>
                            </div>
                        </div>
                    </div>

                }

            </div>




        </section>
 
</div>
   
    
    




</body>


