@*@model IEnumerable<WebAuslink.Models.SeaContainer>*@
@model IEnumerable<WebAuslink.Models.DailyToDoList>
@{
    ViewData["Title"] = "Home Page";

}





<body >
    <div class="container-fluid" >
        <section class="jumbotron text-center">

            <h1 class="heading">Welcome</h1>
            <p class="lead text-muted">Auslink Operating Support </p>
            <hr />


            <div class="row" style="display: @ViewData["IfNone"]">
                <div class="col">
                    <div class="alert alert-dark" role="alert">
                        <h4>  <span class="badge badge-pill badge-danger">
                            
                                Account on hold
                        </span></h4>
                        @foreach (var client in ViewBag.OnHoldList)
                        {
                            <ul style="font-size:medium">
                             
                                    @client.ClientCompanyName
                                <hr>  
                                
                            </ul>
                        }
                    </div>
                </div>
            </div>






            <div class="alert alert-dark" role="alert">
                <div style="text-align:left">
                    <button class="btn btn-outline-primary " type="submit">
                        <a asp-controller="DailyToDoLists" asp-action="Index">

                            Go to all plans
                        </a>
                    </button>
                </div>
                @foreach (var item in ViewBag.TodayList)

                {

                    <div class="row">
                        <div class=" col">
                            <div class="alert alert-secondary" role="alert">
                                @if (item.today.Date == DateTime.Now.Date)
                                {
                                    <h4 class="alert-heading" style="text-align:center"> <span class="badge badge-pill badge-success"> Today</span> </h4>
                                }
                                else
                                {
                            <h4 class="alert-heading" style="text-align:center"> Coming Jobs @@ @item.today</h4>
                                }

                                <ul>
                                   
                                    <hr>
                                    <p style="font-size:medium">
                                        @item.MorningJob
                                    </p>
                                    <hr>
                                    <p style="font-size:medium">
                                        @item.AfternoonJob
                                    </p>
                                    <hr>
                                    <p style="font-size:medium">
                                        @item.ExtraWork
                                    </p>


                                </ul>
                            </div>
                        </div>
                    </div>

                }

            </div >




        </section>
 
</div>
   
    
    




</body>


