@*@model IEnumerable<WebAuslink.Models.SeaContainer>*@
@model IEnumerable<WebAuslink.Models.DailyToDoList>
@{
    ViewData["Title"] = "Home Page";

}

<style type="text/css">

</style>





<body>
    <div class="container-fluid">
        <section class="jumbotron text-center">

            <h1 class="heading" style="font-size: 2.2vw;" >Welcome</h1>
            <p class="lead text-muted">Auslink Operating Support </p>
            <hr />


            <div class="row">
                <div class="col" style="display: @ViewData["IfNone"] ">
                    <div class="alert alert-dark" role="alert">
                       
                            <span class="badge badge-pill badge-danger"  style=" font-size: 0.8vw;">

                                Account on hold
                            </span>
                        
                        @foreach (var client in ViewBag.OnHoldList)
                        {
                            <ul  style=" font-size: 0.8vw;">

                                @client.ClientCompanyName
                                <hr>

                            </ul>
                        }
                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <div>
                            <table class="table"  style=" font-size: 0.8vw;" >
                                <thead>
                                    <label  style=" font-size: 0.8vw;">Container Job this week </label>
                                    <tr >
                                        <th>

                                        </th>
                                        <th>
                                            VBS Ready
                                        </th>
                                        <th>
                                            O/F ETA
                                        </th>
                                    </tr>

                                </thead>
                                <tr>
                                    <td>   To Yard </td>
                                    <td>  <span style="        font-size: 2.2vw;"  class="badge badge-primary">@ViewBag.ToYardCurrentWeekVBS   </span>  </td>
                                    <td>  <span style="        font-size: 2.2vw;"  class="badge badge-success">@ViewBag.ToYardCurrentWeekOFETA </span>  </td>
                                </tr>

                                <tr>
                                    <td>Cartage only</td>
                                    <td> <span style="        font-size: 2.2vw;" class="badge badge-primary">@ViewBag.CartageOnlyCurrentWeekVBS  </span></td>
                                    <td>  <span style="        font-size: 2.2vw;"  class="badge badge-success"> @ViewBag.CartageOnlyCurrentWeekOFETA </span>  </td>

                                </tr>


                            </table>


                        </div>

                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <table class="table"   style=" font-size: 0.8vw;">
                            <thead>
                                <label  style=" font-size: 0.8vw;">Container Current Month</label>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Inbound
                                    </th>
                                    <th>
                                        Cartage
                                    </th>
                                </tr>

                            </thead>
                            <tr>
                                <td>   O/F ETA </td>
                                <td>  <span style="font-size:2.2vw;" class="badge badge-primary">@ViewBag.ToYardCurrentMonthOFETA   </span>  </td>
                                <td>  <span style="        font-size: 2.2vw;" class="badge badge-success">@ViewBag.CartageOnlyCurrentMonthOFETA </span>  </td>
                            </tr>
                            <tr>
                                <td>   Completed </td>
                                <td>  <span style="        font-size: 2.2vw;" class="badge badge-primary">@ViewBag.ToyardCurrentMonthOFETACompleted   </span>  </td>
                                <td>  <span style="        font-size: 2.2vw;" class="badge badge-success">@ViewBag.CartageOnlyCurrentMonthOFETACompleted </span>  </td>
                            </tr>


                        </table>

                    </div>
                </div>
                <div class="col">

                    <div class="alert alert-dark" role="alert">
                        <table class=" table"  style=" font-size: 0.8vw;">

                            <label  style=" font-size: 0.8vw;">
                                Unsolved issues
                            </label>
                            <tr>
                                <td> <span style="        font-size: 2.2vw;"  class="badge badge-danger">@ViewBag.countIssues</span>   </td>
                            </tr>
                        </table>

                    </div>
                </div>










            </div>


            <div class="alert alert-dark" role="alert">
                <div style="text-align:left;margin-bottom:10px;" >

                    <a class="btn btn-outline-primary " asp-controller="DailyToDoLists" asp-action="Index">

                        Go to all plans
                    </a>

                </div>
                @foreach (var item in ViewBag.TodayList)

                {

                    <div class="container-fluid"  >
                        
                            <div class="alert alert-secondary" role="alert">
                                @if (item.today.Date == DateTime.Now.Date)
                                {
                                    <h4 class="alert-heading" style="text-align:center"> <span class="badge badge-pill badge-success"> Today</span> </h4>
                                }
                                else
                                {
                                    <h4 class="alert-heading" style="text-align:center"> Coming Jobs @@ @item.today</h4>
                                }

                            <div style="font-size: 1vw;">

                                <hr>
                            
                                <div style=" white-space:pre-line; text-align:left">
                                    <strong>  Morning Jobs  </strong>
                                    @item.MorningJob
                                </div>
                                <hr>
                                <p style=" white-space:pre-line; text-align:left">
                                    <strong>  Afternoon Jobs  </strong>
                                    @item.AfternoonJob
                                </p>
                                <hr>
                                <p style=" white-space:pre-line; text-align:left">
                                    <strong>  Extra / Special Jobs  </strong> 
                                  @item.ExtraWork
                                </p>


                            </div>
                            </div>
                    
                    </div>

                }

            </div>




        </section>

    </div>







</body>


