@model IEnumerable<WebAuslink.Models.DailyToDoList>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1>Planner</h1>

    <p>
        <button class=" btn btn-outline-secondary">    <a asp-action="Create">Create New</a> </button>
    </p>

    @foreach (var item in Model)
    {


        <div class="card">
            <div class="card-header">
                Date : @Html.DisplayFor(modelItem => item.today.Date)
                @if (item.today.Date == DateTime.Now.Date)
                { 
                <span class="badge badge-success">Today's job</span>
                }
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Html.DisplayFor(modelItem => item.MorningJob)</p>
                    <hr>
                    <p>@Html.DisplayFor(modelItem => item.AfternoonJob)</p>
                    <hr>
                    <p>@Html.DisplayFor(modelItem => item.ExtraWork)</p>



                    <footer class="blockquote-footer">
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </footer>
                </blockquote>
            </div>
        </div>
        <br>
    }
</div>